table {
  font-feature-settings: 'tnum';
  font-variant-numeric: proportional-nums; /* <numeric-spacing-values> */
  font-size: 4.5vw;
  border-collapse: collapse;
}
table td {
  padding: 6px 3px;
}
tr:nth-child(odd) {
  background-color: #eeeeee;
}
@media (min-width: 500px) {
  table {
    font-size: 24px;
  }
}
tr.past-threshold {
  background-color: #eea302 !important;
}

/* System Fonts as used by GitHub */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}